body {
	font-family:helvetica;
	color:#5c5c5c;
}

input[type=text] {
	width:500px;
	height:65px;
	border:solid 3px #5c5c5c;
	padding:8px;
	font-size:50px;
	font-family:helvetica;
	color:#5c5c5c;
}

input[type=file] {
	border:solid 3px #5c5c5c;
	padding:8px;
	font-size:50px;
	font-family:helvetica;
	color:#5c5c5c;
}

dt {
	padding-top:20px;
	float:left;
	width:180px;
	text-align:right;
	font-size:36px;
	padding-right:30px;
}

dd {
	float:left;
	width: 400px;
	text-align:left;
}