body {
	font-family:helvetica;
	color:#5c5c5c;
}

input[type=text] {
	width:300px;
	height:40px;
	border:solid 3px #5c5c5c;
	padding:8px;
	font-size:50px;
	font-family:helvetica;
	color:#5c5c5c;
}

input[type=file] {
	border:solid 3px #5c5c5c;
	padding:8px;
	font-size:50px;
	font-family:helvetica;
	color:#5c5c5c;
	opacity:.001; 
	position:absolute; 
	top:0px; 
	left:0px; 
	height:60px; 
	width:10px;
}

.dt {
	padding-top:10px;
	float:left;
	width:270px;
	text-align:right;
	font-size:36px;
	padding-right:30px;
}

.dd {
	float:left;
	width: 400px;
	text-align:left;
}

.terms {
	color:#999;
	font-size:12px;
	text-align:center;
}

#poweredby {
	float:left; 
	height:40px; 
	width:120px; 
	cursor:pointer;
}

#diggit {
	float:right; 
	margin-right:60px;
}