<center>
	<div style="width: 928px; height:426px; background:url(images/bg.jpg); padding-top:230px; text-align:left; padding-left:20px;">
		<du>
			<dt>File:</dt>
			<dd><input type="text"></dd>
		</du>
		<div style="clear:both; height:50px;"></div>
		<du>
			<dt>Email(s):</dt>
			<dd><input type="text"></dd>
		</du>
		<div style="clear:both; height:40px;"></div>
		<img src="images/submit.jpg" style="margin-left:330px;">
	</div>
</center>