<script>
Event.observe(window, 'load', function() { setInterval ( "updateFaker()", 500 ); })
$('upload_file_data').setOpacity(.001);

function updateFaker() {
	$('faker').value = $('upload_file_data').value;
}

</script>
<center>
	<form action="/" method="post" enctype="multipart/form-data">
	<div style="width: 928px; height:436px; background:url(/images/bg2.jpg); padding-top:220px; text-align:left; padding-left:20px;">
		<du>
			<dt>File:</dt>
			<dd style="position:relative;">
				<input id="faker" type="text" name="faker" style="">
				<%= file_field :upload, :file_data, :size => 6 %>
				Files up to 100MB
			</dd>
		</du>
		<div style="clear:both; height:50px;"></div>
		<du>
			<dt>Email(s):</dt>
			<dd><input type="text" name="recipients">Separate with commas</dd>
		</du>
		
		<%= token_tag %>
		<div style="clear:both; height:40px;"></div>
		<div class="terms">
			<input type="image" src="/images/submit.jpg" alt="Submit">
			<br>You agree to the terms of service
		</div>
		<div style="clear:both; height:40px;"></div>
		<div id="footer">
			<div id="poweredby" onClick="window.location='http://api.drop.io'"></div>
			<div id="diggit"><script src="http://digg.com/tools/diggthis.js" type="text/javascript"></script></div>
		</div>
	</div>
	</form>
	
</center>