You've been sent a file from <a href="http://usend.io">usend.io</a>...

Visit this link to view/download your file:
<% url = @asset.generate_url %>
<a href="<%= url %>" alt="View the file."><%= url %></a>

Thanks and have a great day!