<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>usend.io</title>
	<%= stylesheet_link_tag "master" %>
</head>
<body style="background:#e5e5e5;">
	<%= yield %>
</body>
</html>